body {
    font-family: "Zen Tokyo Zoo";
    src: url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
}

h1 {
    color: white;
    font-family: "Zen Tokyo Zoo";
    font-size: 36pt;
    color: 0000;
    text-shadow: 3px 3px 3px rgb(10, 5, 2, 10);
    padding: 0;
    margin-bottom: 0;
}

.img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}